<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Kayla Petersen</h1>
        <h3>Application Developer</h3>
    </div>

    <div class="social-media">
        <a href="https://www.linkedin.com/in/kayla-petersen-96055898/" 
        target="_blank">
        <img src="../../assets/LI-In-Bug.png" alt="logo" class="logo me-2">
        </a>
        
        <a href="https://github.com/klpetersen" target="_blank">
        <img src="../../assets/github-mark.png" alt="logo" class="logo me-2">
        </a>
    </div>
</div>
