<div class="container text-center">
    <button class="btn btn-primary mb-5 shadow border" (click)="downloadFile()">Download PDF Resume</button>
    
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <div class="info-container">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">Bank of America</h3>
                    <ul>
                        <li>Description</li>
                        <li>template</li>
                        <li>example</li>
                    </ul>
                </div>
                <div class="info-container">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">Bank of America</h3>
                    <ul>
                        <li>Description</li>
                        <li>template</li>
                        <li>example</li>
                    </ul>
                </div>
                <div class="info-container">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">Bank of America</h3>
                    <ul>
                        <li>Description</li>
                        <li>template</li>
                        <li>example</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Education">
                <div class="info-container">
                    <h2 class="mb-0">Bachelor of Nutrition and Dietetics</h2>
                    <h3 class="text-primary">Miami University</h3>
                    <ul>
                        <li>Description</li>
                        <li>template</li>
                        <li>example</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Certifications">
                <div class="info-container">
                    <h2 class="mb-0">Flatiron Bootcamp</h2>
                    <h3 class="text-primary">Full Stack Web Development</h3>
                    <ul>
                        <li>Description</li>
                        <li>template</li>
                        <li>example</li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Skills">
                <div class="row info-container">
                    <div class="col">
                        <h3>Programming Languages</h3>
                        <ul>
                            <li>Typescipt</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.JS</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Source Control via Git</li>
                            <li>Agile Development</li>
                            <li>MVC Developement</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>

        </accordion>
    </div>


</div>