<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img id="profile-picture" class="rounded-circle" src="../../assets/profile-pic.jpg" alt="profile picture">
                <p>Hi, my name is Kayla! Welcome to my website!</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>
